*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  font-family: "Montserrat";
  font-size: 18px;
  font-style: normal;
  height: 100%;
  line-height: 22px;
  font-weight: 400;
  color: #000000;
}

.page-container {
  min-height: 100%;
  overflow: hidden;
}

.content-container {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0px 15px 0px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

.section-main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.no-webp .section-main__main-block {
  background: #FFF url(../img/background-image/header-background.jpg) center/cover no-repeat; }

.section-main__main-block {
  height: 948px;
  padding-top: 5px;
}

.background-color-grey-top {
  background-color: #E5E5E5;
  border-radius: 0px 0px 26px 26px;
  -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.background-color-grey-bottom {
  background-color: #E5E5E5;
  border-radius: 26px 26px 0px 0px;
  -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.section-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 77px 0px 28px 0px;
}

.section-presentation {
  margin-bottom: 56px;
  padding-top: 32px;
}

.section-about-training {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 46px 0px;
}

.section-about-training__left-wrapper {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-about-training__right-wrapper {
  width: 50%;
}

.header {
  background-color: #E5E5E5;
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0px 0px 0px;
}

.logo-header {
  max-width: 134px;
  -webkit-animation: pulse 3s linear infinite;
          animation: pulse 3s linear infinite;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@-webkit-keyframes pulse {
  0% {
    scale: 1;
    -webkit-transition: 1s all;
    -o-transition: 1s all;
    transition: 1s all;
  }

  10% {
    scale: 1.02;
    -webkit-transition: 1s all;
    -o-transition: 1s all;
    transition: 1s all;
  }

  20% {
    scale: 1.04;
    -webkit-transition: 1s all;
    -o-transition: 1s all;
    transition: 1s all;
  }

  30% {
    scale: 1.06;
    -webkit-transition: 1s all;
    -o-transition: 1s all;
    transition: 1s all;
  }

  40% {
    scale: 1.08;
    -webkit-transition: 1s all;
    -o-transition: 1s all;
    transition: 1s all;
  }

  50% {
    scale: 1.1;
    -webkit-transition: 1s all;
    -o-transition: 1s all;
    transition: 1s all;
  }

  60% {
    scale: 1.08;
    -webkit-transition: 1s all;
    -o-transition: 1s all;
    transition: 1s all;
  }

  70% {
    scale: 1.06;
    -webkit-transition: 1s all;
    -o-transition: 1s all;
    transition: 1s all;
  }

  80% {
    scale: 1.04;
    -webkit-transition: 1s all;
    -o-transition: 1s all;
    transition: 1s all;
  }

  90% {
    scale: 1.02;
    -webkit-transition: 1s all;
    -o-transition: 1s all;
    transition: 1s all;
  }

  100% {
    scale: 1;
    -webkit-transition: 1s all;
    -o-transition: 1s all;
    transition: 1s all;
  }
}

@keyframes pulse {
  0% {
    scale: 1;
    -webkit-transition: 1s all;
    -o-transition: 1s all;
    transition: 1s all;
  }

  10% {
    scale: 1.02;
    -webkit-transition: 1s all;
    -o-transition: 1s all;
    transition: 1s all;
  }

  20% {
    scale: 1.04;
    -webkit-transition: 1s all;
    -o-transition: 1s all;
    transition: 1s all;
  }

  30% {
    scale: 1.06;
    -webkit-transition: 1s all;
    -o-transition: 1s all;
    transition: 1s all;
  }

  40% {
    scale: 1.08;
    -webkit-transition: 1s all;
    -o-transition: 1s all;
    transition: 1s all;
  }

  50% {
    scale: 1.1;
    -webkit-transition: 1s all;
    -o-transition: 1s all;
    transition: 1s all;
  }

  60% {
    scale: 1.08;
    -webkit-transition: 1s all;
    -o-transition: 1s all;
    transition: 1s all;
  }

  70% {
    scale: 1.06;
    -webkit-transition: 1s all;
    -o-transition: 1s all;
    transition: 1s all;
  }

  80% {
    scale: 1.04;
    -webkit-transition: 1s all;
    -o-transition: 1s all;
    transition: 1s all;
  }

  90% {
    scale: 1.02;
    -webkit-transition: 1s all;
    -o-transition: 1s all;
    transition: 1s all;
  }

  100% {
    scale: 1;
    -webkit-transition: 1s all;
    -o-transition: 1s all;
    transition: 1s all;
  }
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-list__link {
  margin: 0px 64px 0px 0px;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}

.nav-list__link:hover {
  scale: 0.97;
}

.nav-list__link:last-child {
  margin-right: 0px;
}

.nav-list__link:active {
  scale: 1;
}

.nav-list__link-item {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: #000000;
  font-weight: 600;
}

.nav-list__link-item:hover {
  color: #F28B64;
}

.navMobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0px 0px 0px;
  display: none;
}

.navMobile__link {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-size: 39px;
  margin-bottom: 30px;
  font-weight: 600;
  line-height: 41px;
  color: #000000;
  z-index: 100;
}

.navMobile__link:hover {
  scale: 0.97;
}

.navMobile__link:active {
  scale: 1;
}

.openNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.right-wrapper-about {
  width: 372px;
  position: absolute;
  right: 60px;
  top: 274px;
  z-index: 100;
}

.left-wrapper-about {
  z-index: 1;
  position: relative;
}

.left-wrapper-about__image {
  width: 100%;
  -webkit-filter: drop-shadow(0px 4px 4px rgb(0, 0, 0));
          filter: drop-shadow(0px 4px 4px rgb(0, 0, 0));
}

.left-wrapper-about__orange-figure {
  position: absolute;
  width: 60%;
  height: 129%;
  top: -30%;
  right: 35%;
  z-index: -1;
  -webkit-filter: drop-shadow(0px 4px 4px rgb(0, 0, 0));
          filter: drop-shadow(0px 4px 4px rgb(0, 0, 0));
}

.left-wrapper-about__blue-figure {
  position: absolute;
  width: 49%;
  height: 129%;
  top: -33%;
  right: 45%;
  z-index: -2;
  -webkit-filter: drop-shadow(0px 4px 4px rgb(0, 0, 0));
          filter: drop-shadow(0px 4px 4px rgb(0, 0, 0));
}

.left-wrapper-about__white-figure {
  position: absolute;
  width: 60%;
  height: 129%;
  top: -25%;
  right: 23%;
  z-index: -3;
  -webkit-filter: drop-shadow(0px 4px 4px rgb(0, 0, 0));
          filter: drop-shadow(0px 4px 4px rgb(0, 0, 0));
}

.desription-info-text {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
}

.training-right-wrap__text {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 23px;
}

.section-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-footer__left-wrap {
  position: relative;
  left: -84px;
  top: -44px;
  height: 239px;
}

.section-footer__left-wrap-img {
  -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-animation: pulse 2s linear infinite;
          animation: pulse 2s linear infinite;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.section-footer__right-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobile-menu {
  width: 30px;
  height: 30px;
  position: relative;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.mobile-menu span {
  height: 4px;
  width: 30px;
  background-color: #000000;
  border-radius: 20px;
  position: absolute;
  -webkit-transition-duration: 0.25s;
       -o-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-delay: 0.25s;
       -o-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.mobile-menu span::before {
  left: 0;
  position: absolute;
  top: -9px;
  height: 4px;
  width: 30px;
  background-color: #000000;
  content: "";
  border-radius: 20px;
  -webkit-transition-duration: 0.25s;
       -o-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition: top 0.25s 0.25s, -webkit-transform 0.25s;
  transition: top 0.25s 0.25s, -webkit-transform 0.25s;
  -o-transition: transform 0.25s, top 0.25s 0.25s;
  transition: transform 0.25s, top 0.25s 0.25s;
  transition: transform 0.25s, top 0.25s 0.25s, -webkit-transform 0.25s;
}

.mobile-menu span::after {
  left: 0;
  position: absolute;
  top: 9px;
  height: 4px;
  width: 30px;
  background-color: #000000;
  content: "";
  border-radius: 20px;
  -webkit-transition-duration: 0.25s;
       -o-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition: top 0.25s 0.25s, -webkit-transform 0.25s;
  transition: top 0.25s 0.25s, -webkit-transform 0.25s;
  -o-transition: transform 0.25s, top 0.25s 0.25s;
  transition: transform 0.25s, top 0.25s 0.25s;
  transition: transform 0.25s, top 0.25s 0.25s, -webkit-transform 0.25s;
}

.mobile-menu.active span {
  -webkit-transition-duration: 0.1s;
       -o-transition-duration: 0.1s;
          transition-duration: 0.1s;
  -webkit-transition-delay: 0.25s;
       -o-transition-delay: 0.25s;
          transition-delay: 0.25s;
  background: transparent;
}

.mobile-menu.active span::before {
  -webkit-transition: top 0.25s, -webkit-transform 0.25s 0.25s;
  transition: top 0.25s, -webkit-transform 0.25s 0.25s;
  -o-transition: top 0.25s, transform 0.25s 0.25s;
  transition: top 0.25s, transform 0.25s 0.25s;
  transition: top 0.25s, transform 0.25s 0.25s, -webkit-transform 0.25s 0.25s;
  top: 0px;
  -webkit-transform: rotateZ(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotateZ(-45deg);
}

.mobile-menu.active span::after {
  -webkit-transition: top 0.4s, -webkit-transform 0.25s 0.25s;
  transition: top 0.4s, -webkit-transform 0.25s 0.25s;
  -o-transition: top 0.4s, transform 0.25s 0.25s;
  transition: top 0.4s, transform 0.25s 0.25s;
  transition: top 0.4s, transform 0.25s 0.25s, -webkit-transform 0.25s 0.25s;
  top: 0px;
  -webkit-transform: rotateZ(45deg);
      -ms-transform: rotate(45deg);
          transform: rotateZ(45deg);
}

.o-ring-min {
  width: 194px;
  height: 194px;
  position: absolute;
  top: -1rem;
  left: 12.2rem;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  z-index: -1;
}

.o-ring-max {
  width: 282px;
  height: 282px;
  position: absolute;
  top: 138%;
  left: 62%;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.o-ring-product-card-left {
  width: 194px;
  height: 194px;
  position: absolute;
  top: -1rem;
  left: 12.2rem;
  top: 19rem;
  z-index: -1;
  left: -4.8rem;
  -webkit-transform: rotate(-79deg);
      -ms-transform: rotate(-79deg);
          transform: rotate(-79deg);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.o-ring-product-card-right {
  width: 194px;
  height: 194px;
  position: absolute;
  top: 5rem;
  left: 58.2rem;
  z-index: -1;
  -webkit-transform: rotate(39deg);
      -ms-transform: rotate(39deg);
          transform: rotate(39deg);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.o-ring-right-section-about-trainin {
  position: absolute;
  width: 177px;
  height: 177px;
  top: 14.2rem;
  left: 1rem;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.o-ring-right-section-about-trainin-left {
  width: 195px;
  height: 195px;
  position: absolute;
  top: 11.2rem;
  left: 6rem;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.o-ring-right-section-about-trainin-right {
  width: 282px;
  height: 282px;
  position: absolute;
  top: -7rem;
  left: 62rem;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 79px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.title-section-about {
  font-size: 72px;
  line-height: 68px;
  margin-bottom: 5px;
}

.title-section-about::after {
  content: "";
  border-bottom: 1px solid #000000;
  width: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.title-section-presentation {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 43px;
  line-height: 40px;
  margin-bottom: 40px;
}

.title-section-presentation::after {
  content: "";
  border-bottom: 1px solid #000000;
  width: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.training-title-right {
  margin-bottom: 30px;
  line-height: 45px;
}

.training-title-right::after {
  content: "";
  border-bottom: 1px solid #000000;
  width: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.training-title-left {
  line-height: 41px;
}

.training-title-left::after {
  content: "";
  border-bottom: 1px solid #000000;
  width: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-footer-title {
  line-height: 49px;
  width: 100%;
  margin-bottom: 20px;
}

.section-footer-title::after {
  content: "";
  border-bottom: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 31px;
  position: absolute;
  top: 46px;
}

.btn-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn-buy-lesson {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 60px;
  background-color: #F28B64;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.btn-buy-lesson__text {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 18px;
  line-height: 105.19%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.btn-buy-lesson:hover {
  cursor: pointer;
  scale: 1.03;
}

.btn-buy-lesson:active {
  scale: 1;
}

.btn-any-questions {
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  width: 140px;
  -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.btn-any-questions__icon {
  width: 46px;
  height: 46px;
  margin-right: 12px;
}

.btn-any-questions__text {
  font-size: 16px;
  line-height: 105.19%;
  color: #000000;
}

.btn-any-questions:hover {
  cursor: pointer;
  scale: 1.03;
}

.btn-any-questions:active {
  scale: 1;
}

.btn-block-section-about-training {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  z-index: 100;
}

.block-socials {
  margin-bottom: 9px;
}

.block-socials__icon {
  width: 40px;
  height: 40px;
  margin-right: 17px;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
  -webkit-filter: drop-shadow(0 4px 4px rgb(0, 0, 0));
          filter: drop-shadow(0 4px 4px rgb(0, 0, 0));
}

.block-socials__icon:hover {
  cursor: pointer;
  scale: 1.03;
}

.block-socials__icon:active {
  scale: 1;
}

.block-socials__icon:last-child {
  margin-right: 0px;
}

.block-socials-section-footer {
  text-align: left;
}

.block-socials-section-footer__icon {
  width: 40px;
  height: 40px;
  margin-right: 22px;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
  -webkit-filter: drop-shadow(0 4px 4px rgb(0, 0, 0));
          filter: drop-shadow(0 4px 4px rgb(0, 0, 0));
}

.block-socials-section-footer__icon:hover {
  cursor: pointer;
  scale: 1.03;
}

.block-socials-section-footer__icon:active {
  scale: 1;
}

.block-socials-section-footer__icon:last-child {
  margin-right: 0px;
}

.product-card-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 47px;
}

.product-card-elektro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  min-height: 360px;
  border-radius: 10px;
  background-color: #E2E2E2;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.product-card-elektro__block-picture {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.product-card-elektro__picture-file {
  background: url(../img/section-presentation/guitar1.svg) center/cover no-repeat;
  height: 93%;
  width: 100%;
  -webkit-filter: drop-shadow(0 4px 4px rgb(0, 0, 0));
          filter: drop-shadow(0 4px 4px rgb(0, 0, 0));
  -webkit-animation: pulse 3s linear infinite;
          animation: pulse 3s linear infinite;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.product-card-elektro__block-title {
  width: 50%;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  font-size: 36px;
  line-height: 37px;
  text-align: center;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.product-card-acoustic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  min-height: 360px;
  border-radius: 10px;
  background-color: #F28B64;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.product-card-acoustic__block-picture {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.product-card-acoustic__picture-file {
  background: url(../img/section-presentation/guitar2.svg) center/cover no-repeat;
  height: 93%;
  width: 100%;
  -webkit-filter: drop-shadow(0 4px 4px rgb(0, 0, 0));
          filter: drop-shadow(0 4px 4px rgb(0, 0, 0));
  -webkit-animation: pulse 3s linear infinite;
          animation: pulse 3s linear infinite;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.product-card-acoustic__block-title {
  width: 50%;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  font-size: 36px;
  line-height: 37px;
  text-align: center;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.product-card-ukulele {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  min-height: 360px;
  border-radius: 10px;
  background-color: #5290EA;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.product-card-ukulele__block-picture {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.product-card-ukulele__picture-file {
  background: url(../img/section-presentation/guitar3.svg) center/cover no-repeat;
  height: 93%;
  width: 100%;
  -webkit-filter: drop-shadow(0 4px 4px rgb(0, 0, 0));
          filter: drop-shadow(0 4px 4px rgb(0, 0, 0));
  -webkit-animation: pulse 3s linear infinite;
          animation: pulse 3s linear infinite;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.product-card-ukulele__block-title {
  width: 50%;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  font-size: 36px;
  line-height: 37px;
  text-align: center;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.achievements-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

.right-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

.achievements-card {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.achievements-card__picture {
  margin-right: 20px;
  -webkit-filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.achievements-card__text-upper {
  font-weight: 600;
  font-size: 43px;
  line-height: 51px;
}

.achievements-card__text-lower {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media (max-width: 1199px) {
  .content-container {
    max-width: 960px;
  }

  .right-wrapper-about {
    width: 372px;
    right: 36px;
    top: 193px;
  }

  .left-wrapper-about__image {
    width: 78%;
  }

  .left-wrapper-about__orange-figure {
    width: 46%;
    height: 129%;
    top: -23%;
    right: 52%;
  }

  .left-wrapper-about__blue-figure {
    width: 38%;
    height: 111%;
    top: -19%;
    right: 59%;
  }

  .left-wrapper-about__white-figure {
    width: 52%;
    height: 117%;
    top: -12%;
    right: 46%;
    z-index: -3;
  }

  .section-footer__right-wrap {
    position: absolute;
    left: 63%;
    top: 20%;
  }

  .mobile-menu {
    display: none;
  }

  .o-ring-min {
    width: 184px;
    height: 184px;
    top: -1rem;
    left: 12.2rem;
  }

  .o-ring-max {
    width: 282px;
    height: 282px;
    top: 113%;
    left: 62%;
  }

  .o-ring-product-card-right {
    top: 2rem;
    left: 32.2rem;
  }

  .o-ring-right-section-about-trainin {
    width: 157px;
    height: 157px;
    top: 19.2rem;
    left: -1rem;
  }

  .o-ring-right-section-about-trainin-left {
    top: 14.4rem;
    left: 1rem;
  }

  .o-ring-right-section-about-trainin-right {
    top: -6rem;
    left: 50rem;
    width: 200px;
    height: 200px;
  }

  .title-section-about {
    font-size: 51px;
    line-height: 50px;
  }

  .title-section-about::after {
    width: 36px;
  }

  .training-title-right::after {
    font-size: 43px;
    position: absolute;
    top: 44px;
  }

  .training-title-left::after {
    font-size: 43px;
  }

  .section-footer-title {
    font-size: 37px;
    line-height: 40px;
  }

  .section-footer-title::after {
    width: 24px;
    top: 39px;
  }

  .btn-buy-lesson {
    margin-bottom: 20px;
  }

  .product-card-elektro__block-picture {
    width: 60%;
  }

  .product-card-elektro__picture-file {
    height: 85%;
  }

  .product-card-elektro__block-title {
    width: 40%;
  }

  .product-card-acoustic__block-picture {
    width: 60%;
  }

  .product-card-acoustic__picture-file {
    height: 85%;
  }

  .product-card-acoustic__block-title {
    width: 40%;
  }

  .product-card-ukulele__block-picture {
    width: 60%;
  }

  .product-card-ukulele__picture-file {
    height: 85%;
  }

  .product-card-ukulele__block-title {
    width: 40%;
  }

  .achievements-card__picture {
    margin-right: 15px;
    width: 30%;
  }

  .achievements-card__text-lower {
    font-size: 16px;
  }
}

@media (max-width: 991px) {
  .content-container {
    max-width: 720px;
  }

  .right-wrapper-about {
    width: 258px;
    right: 36px;
    top: 73px;
  }

  .left-wrapper-about__image {
    width: 69%;
  }

  .left-wrapper-about__orange-figure {
    width: 44%;
    height: 113%;
    top: -11%;
    right: 52%;
    z-index: -1;
  }

  .left-wrapper-about__blue-figure {
    width: 38%;
    height: 113%;
    top: -15%;
    right: 58%;
    z-index: -2;
  }

  .left-wrapper-about__white-figure {
    width: 53%;
    height: 129%;
    top: -15%;
    right: 42%;
    z-index: -3;
  }

  .desription-info-text {
    text-align: center;
  }

  .section-footer {
    margin-top: -43px;
  }

  .section-footer__left-wrap-img {
    width: 388px;
    height: 401px;
  }

  .section-footer__right-wrap {
    position: absolute;
    left: 51%;
    top: 29%;
  }

  .mobile-menu {
    display: none;
  }

  .o-ring-min {
    width: 184px;
    height: 184px;
    top: 4.8rem;
    left: 41.5rem;
  }

  .o-ring-max {
    width: 184px;
    height: 184px;
    top: 4.8rem;
    left: 41.5rem;
  }

  .o-ring-product-card-left {
    top: 14rem;
  }

  .o-ring-product-card-right {
    top: 2rem;
    left: 32.2rem;
  }

  .o-ring-right-section-about-trainin {
    top: 22.2rem;
  }

  .o-ring-right-section-about-trainin-left {
    top: 18.9rem;
  }

  .o-ring-right-section-about-trainin-right {
    left: 38rem;
  }

  .title-section-about {
    text-align: center;
    line-height: 66px;
  }

  .title-section-about::after {
    width: 34px;
    margin: -10px 0 0 5px;
  }

  .training-title-right::after {
    font-size: 43px;
    position: absolute;
    top: 44px;
  }

  .training-title-left::after {
    font-size: 43px;
  }

  .btn-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .btn-block-section-about-training {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .block-socials {
    text-align: center;
  }

  .block-socials-section-footer {
    text-align: center;
  }

  .product-card-elektro {
    min-height: 236px;
  }

  .product-card-elektro__block-title {
    font-size: 25px;
    line-height: 28px;
  }

  .product-card-acoustic {
    min-height: 236px;
  }

  .product-card-acoustic__block-title {
    font-size: 25px;
    line-height: 28px;
  }

  .product-card-ukulele {
    min-height: 236px;
  }

  .product-card-ukulele__block-title {
    font-size: 25px;
    line-height: 28px;
  }

  .achievements-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .left-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40%;
  }

  .right-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40%;
  }

  .achievements-card {
    width: 80%;
  }

  .achievements-card__picture {
    width: 26%;
  }

  .achievements-card__text {
    width: 74%;
  }
}

@media (max-width: 767px) {
  .content-container {
    max-width: 540px;
  }

  .section-about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .logo-header {
    max-width: 113px;
  }

  .nav {
    display: none;
  }

  .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .nav-list__link {
    margin: 0px 0px 25px 0px;
    font-size: 27px;
  }

  .right-wrapper-about {
    position: static;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 35px;
  }

  .left-wrapper-about {
    margin: 0px 0px 20px 0px;
    left: 11%;
  }

  .left-wrapper-about__orange-figure {
    width: 60%;
    height: 129%;
    top: -23%;
    right: 33%;
    z-index: -1;
  }

  .left-wrapper-about__blue-figure {
    width: 49%;
    height: 129%;
    top: -27%;
    right: 43%;
    z-index: -2;
  }

  .left-wrapper-about__white-figure {
    width: 60%;
    height: 129%;
    top: -14%;
    right: 24%;
    z-index: -3;
  }

  .desription-info-text {
    text-align: center;
  }

  .section-footer {
    padding-top: 229px;
    margin-bottom: -58px;
  }

  .section-footer__left-wrap {
    position: relative;
    left: 0%;
  }

  .section-footer__left-wrap-img {
    width: 100%;
    height: unset;
  }

  .section-footer__right-wrap {
    width: 100%;
    position: absolute;
    top: 17%;
    left: 1%;
  }

  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .o-ring-min {
    width: 60px;
    height: 60px;
    top: 80%;
    left: 3%;
  }

  .o-ring-max {
    width: 122px;
    height: 122px;
    top: 89%;
    left: 76%;
  }

  .o-ring-product-card-left {
    width: 122px;
    height: 122px;
    left: -3rem;
    top: 15rem;
  }

  .o-ring-product-card-right {
    width: 122px;
    height: 122px;
    left: 26rem;
    top: 4rem;
    -webkit-transform: rotate(319deg);
        -ms-transform: rotate(319deg);
            transform: rotate(319deg);
  }

  .o-ring-right-section-about-trainin {
    width: 99px;
    height: 99px;
    top: 29.2rem;
    left: -1rem;
  }

  .o-ring-right-section-about-trainin-left {
    width: 143px;
    height: 143px;
    top: 26.2rem;
    left: 0.8rem;
  }

  .title {
    font-size: 38px;
    line-height: 34px;
  }

  .title-section-about::after {
    width: 39px;
    margin: 8px 0px 0px 0px;
  }

  .title-section-about {
    margin-bottom: 25px;
    font-size: 54px;
  }

  .title-section-presentation {
    margin-bottom: 31px;
    padding-left: 20px;
  }

  .title-section-presentation::after {
    width: 35px;
  }

  .title-section-presentation::after {
    width: 31px;
  }

  .training-title-right::after {
    width: 24px;
    position: absolute;
    top: 35px;
  }

  .training-title-left::after {
    width: 36px;
  }

  .section-footer-title {
    font-size: 35px;
  }

  .section-footer-title::after {
    width: 22px;
  }

  .btn-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px 0px 20px 0px;
  }

  .btn-buy-lesson {
    margin: 0px 0px 30px 0px;
  }

  .btn-block-section-about-training {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px 0 -43px 0;
  }

  .block-socials {
    margin-bottom: 20px;
  }

  .block-socials-section-footer {
    text-align: center;
  }

  .block-socials-section-footer {
    margin-bottom: 20px;
  }

  .product-card-elektro__block-picture {
    width: 70%;
  }

  .product-card-elektro__picture-file {
    height: 78%;
    position: relative;
    left: -13px;
  }

  .product-card-elektro__block-title {
    width: 30%;
    font-size: 22px;
    line-height: 17px;
  }

  .product-card-acoustic__block-picture {
    width: 70%;
  }

  .product-card-acoustic__picture-file {
    height: 75%;
    position: relative;
    left: -11px;
  }

  .product-card-acoustic__block-title {
    width: 30%;
    font-size: 22px;
    line-height: 17px;
  }

  .product-card-ukulele__block-picture {
    width: 70%;
  }

  .product-card-ukulele__picture-file {
    height: 76%;
    position: relative;
    left: -3px;
  }

  .product-card-ukulele__block-title {
    width: 30%;
    font-size: 22px;
    line-height: 17px;
  }

  .left-block {
    width: 100%;
  }

  .right-block {
    width: 100%;
  }
}

@media (max-width: 575px) {
  .content-container {
    width: 100%;
  }

  .section-about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .logo-header {
    max-width: 105px;
  }

  .nav {
    display: none;
  }

  .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .nav-list__link {
    margin: 0px 0px 25px 0px;
    font-size: 27px;
  }

  .right-wrapper-about {
    position: static;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 35px;
  }

  .left-wrapper-about {
    margin: 0px 0px 20px 0px;
    left: 11%;
  }

  .left-wrapper-about__image {
    width: 78%;
  }

  .left-wrapper-about__orange-figure {
    width: 60%;
    height: 129%;
    top: -23%;
    right: 33%;
    z-index: -1;
  }

  .left-wrapper-about__blue-figure {
    width: 49%;
    height: 129%;
    top: -27%;
    right: 43%;
    z-index: -2;
  }

  .left-wrapper-about__white-figure {
    width: 60%;
    height: 129%;
    top: -14%;
    right: 24%;
    z-index: -3;
  }

  .desription-info-text {
    text-align: center;
  }

  .section-about-training {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .section-about-training__left-wrapper {
    width: 100%;
  }

  .training-right-wrap {
    width: 100%;
  }

  .section-footer {
    position: relative;
    margin-bottom: -79px;
    padding-top: 240px;
  }

  .section-footer__left-wrap {
    height: 176px;
  }

  .section-footer__left-wrap-img {
    height: 142px;
  }

  .section-footer__right-wrap {
    margin: 0 auto;
  }

  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .o-ring-min {
    width: 60px;
    height: 60px;
    top: 80%;
    left: 3%;
  }

  .o-ring-max {
    width: 122px;
    height: 122px;
    top: 89%;
    left: 76%;
  }

  .o-ring-product-card-left {
    width: 60px;
    height: 60px;
    top: 39%;
    left: 0%;
  }

  .o-ring-product-card-right {
    width: 60px;
    height: 60px;
    top: 13%;
    left: 82%;
  }

  .o-ring-right-section-about-trainin {
    width: 75px;
    height: 75px;
    top: 3.1rem;
    left: 1rem;
  }

  .o-ring-right-section-about-trainin-left {
    width: 96px;
    height: 96px;
    top: 0.9rem;
    left: 2.2rem;
  }

  .title {
    font-size: 38px;
    line-height: 34px;
  }

  .title-section-about::after {
    width: 39px;
    margin: 8px 0px 0px 0px;
  }

  .title-section-about {
    margin-bottom: 25px;
    font-size: 54px;
  }

  .title-section-presentation {
    margin-bottom: 31px;
    padding-left: 20px;
  }

  .title-section-presentation::after {
    width: 31px;
  }

  .training-title-right {
    width: 320px;
    margin: 0px auto 25px auto;
    text-align: center;
  }

  .training-title-right::after {
    width: 26px;
    position: absolute;
    left: 76px;
  }

  .training-title-left {
    margin-bottom: 42px;
  }

  .training-title-left::after {
    width: 36px;
  }

  .section-footer-title {
    font-size: 18px;
    line-height: 46px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .section-footer-title::after {
    display: none;
  }

  .btn-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px 0px 20px 0px;
  }

  .btn-buy-lesson {
    margin: 0px 0px 30px 0px;
  }

  .btn-block-section-about-training {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 -54px 0;
  }

  .block-socials {
    margin-bottom: 20px;
  }

  .block-socials-section-footer {
    margin-bottom: 20px;
  }

  .product-card-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .product-card-elektro {
    margin-bottom: 38px;
    width: 255px;
  }

  .product-card-elektro__block-picture {
    width: 51%;
  }

  .product-card-elektro__picture-file {
    height: 88%;
    position: relative;
    margin-left: 26px;
  }

  .product-card-acoustic {
    margin-bottom: 38px;
    width: 255px;
  }

  .product-card-acoustic__block-picture {
    width: 51%;
  }

  .product-card-acoustic__picture-file {
    height: 88%;
    position: relative;
    margin-left: 26px;
  }

  .product-card-ukulele {
    width: 255px;
  }

  .product-card-ukulele__block-picture {
    width: 51%;
  }

  .product-card-ukulele__picture-file {
    height: 88%;
    position: relative;
    margin-left: 26px;
  }

  .achievements-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .left-block {
    width: 70%;
  }

  .right-block {
    width: 70%;
  }

  .achievements-card {
    width: 66%;
    margin-bottom: 15px;
  }

  .card-one {
    -webkit-transform: translate(-59px, 10px);
        -ms-transform: translate(-59px, 10px);
            transform: translate(-59px, 10px);
  }

  .card-two {
    -webkit-transform: translate(65px, 10px);
        -ms-transform: translate(65px, 10px);
            transform: translate(65px, 10px);
  }

  .card-three {
    -webkit-transform: translate(-59px, 10px);
        -ms-transform: translate(-59px, 10px);
            transform: translate(-59px, 10px);
  }

  .card-four {
    -webkit-transform: translate(39px, 10px);
        -ms-transform: translate(39px, 10px);
            transform: translate(39px, 10px);
  }
}

.webp .section-main__main-block { background: #FFF url(../img/background-image/header-background.webp) center/cover no-repeat; }