 @font-face {
   font-family: "Montserrat";
   src: url("../fonts/Montserrat-Regular.ttf") format("ttf");
   font-weight: 400;
   font-style: normal;
 }

 @font-face {
   font-family: "Montserrat";
   src: url("../fonts/Montserrat-SemiBold.ttf") format("ttf");
   font-weight: 600;
   font-style: normal;
 }

 body {
   min-width: 320px;
 }

 a:hover {
  text-decoration: underline;
 }

 :root {
  --color-blue: #5290ea;
  --color-orange: #f28B64;
  --color-gray: #e2e2e2;

 }
/*-------------------------------------------------------------------*/

.visually-hidden {
  display: none;
}
 /*Desktop-first:*/
 .page-container {

 }

 .container {
  /* max-width: 1140px; */
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

 .main-section {
  position: relative;
  min-width: 1140px;
  background-color: #f0f0f0;
  margin: 0 auto;
  padding-top: 16px;
}
.sss {

}
.card__electric-guitar::after {
  content: "";
}

.main-section__nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 80px;
  padding-right: 80px;
}

 .main-section__header {
 }

 .main-section__logo {
  display: block;
  width: 134px;
 }

 .main-section__nav {
 }

 .nav-menu {
 }

 .nav-menu__list {
  display: flex;
 }

 .nav-menu__list-item {
  /* display: inline;*/
   margin-right: 64px; 
 }

 .nav-menu__list-item:last-child {
   margin-right: 0px;
 }

 .list-item-link {
   width: 1098px;
   height: 69px;
   text-decoration: none;
   font-family: "Montserrat";
   font-weight: 600;
   font-size: 18px;
   line-height: 22px;
   color: #000000;
 }

.main-section__content-container {
  display: flex;
  position: relative;
  margin-bottom: 40px;
 }

.left-wrapper {
  position: relative;

 }

 .left-wrapper__img {
  position: relative;
  z-index: 10;

 }

.left-wrapper__rectangle-blue {
  width: 566px;
  height: 220px;
  position: absolute;
  top: 160px;
  left: -44px;
  background-color: var(--color-blue);
  border-radius: 100px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  transform: rotate(-64deg);
  z-index: 2;

}

.left-wrapper__rectangle-orange {
  width: 591px;
  height: 220px;
  position: absolute;
  top: 178px;
  left: -15px;
  background-color: var(--color-orange);
  border-radius: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-50.81deg);
  z-index: 3;

}

.left-wrapper__rectangle-gray {
  width: 582px;
  height: 220px;
  position: absolute;
  top: 215px;
  left: 20px;
  background-color: var(--color-gray);
  border-radius: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-36.15deg);
  z-index: 1;
}

.right-wrapper {
  display: flex;
  flex-direction: column;
  width: 372px;
  position: absolute;
  top: 150px;
  right: 76px;
}

.right-wrapper__icon-box {
  display: flex;
  margin-bottom: 5px;
  z-index: 2;
}

.icon-box-indent {
  margin-right: 17px;
  
}

.icon-box-indent:last-child {
  margin-right: 0;
}

.right-wrapper__title {
  z-index: 2;
}

.title {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 72px;
  line-height: 68px;
  color: #000000;
  margin-bottom: 7px;
}

.title-hr {
  border: none;
  border-top: 1px solid #000000;
}

.right-title-hr {
  width: 65px;
  position: absolute;
  top: 110px;
  right: 308px;
}

.right-wrapper__text {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 20px;
  z-index: 2;
}

.right-wrapper__button {

}

.buttons {
  display: flex;

}

.buttons__main-btn {
  width: 200px;
  height: 60px;
  background-color: var(--color-orange);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 100px;
  cursor: pointer;
  margin-right: 32px;
  font-size: 18px;
  color: #ffffff;
}

/* .buttons__main-btn:hover {
  cursor: pointer;
} */



.right-wrapper__icon-btn {
  display: flex;
  align-items: center;
}

.image-chat {
  margin-right: 12px;

}

.buttons__icon-btn {

}

.buttons__icon-btn:hover {
  cursor: pointer;
}

.button__text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
}

.elipse {
display: flex;
justify-content: center;
align-items: center;
width: 194px;
height: 194px;
background: linear-gradient(143.92deg, rgba(237, 123, 80, 0.5) 14.85%, rgba(72, 138, 234, 0.5) 53.25%, rgba(44, 44, 44, 0.5) 85.74%);
border-radius: 150px;
}

.elipse__subtract {
  width: 129.33px;
  height: 129.33px;
  background: #f0f0f0;
  border-radius: 150px;
}

.main-section__first-elipse {
  position: absolute;
  top: 141px;
  right: 53px;
}

.main-section__second-elipse {
  position: absolute;
  top: 524px;
  right: -91px;
}

.elipse_big {
  width: 282px;
  height: 282px;
}

.elipse__subtract_big {
  width: 188px;
  height: 188px;
}

.middle-section {
  min-width: 1140px;
  margin: 0 auto;
  background-color: #f0f0f0;
}

.middle-section__upper {
  overflow: hidden;
  background-color: #ffffff;
}

.information-container-upper {
  display: flex;
  flex-direction: column;

}

.information-wrapper__title {
  margin-bottom: 40px;
  padding-left: 264px;
}

.information-hr {
  width: 94px;
  position: absolute;
  top: 913px;
  right: 1308px;
}

.wrapper__guitar-type {
  display: flex;
  
  z-index: 1;

  max-width: 1440px;
  margin: 0px auto 25px auto;
  position: relative;
}

.card-guitar-container {
  display: flex;
  border-radius: 10px;
  width: 360px;
  height: 360px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.card__electric-guitar {
  background-color: var(--color-gray);
  margin-right: 30px;
}

.card__acoustic-guitar {
  background-color: var(--color-orange);
  margin-right: 30px;

}

.card__ukulele-guitar {
  background-color: var(--color-blue);
}

.card-guitar-text__upper {
  display: flex;
  justify-content: center;
  writing-mode: vertical-rl;
  /* font-family: 'Montserrat';
  font-style: normal; */
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  padding-left: 25px;
}

.information-container-lower {
  display: flex;
  justify-content: center;
  margin-bottom: 23px;
}

.block-container__lower {
  display: flex;
}

.guitar-image {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

.guitar-image:last-child {
  margin: 0;
}

.card-guitar-text__lower {
  display: flex;
  flex-direction: column;
  width: 135px;
}

.text-lower {
  font-weight: 600;
  font-size: 48px;
}

.block-text {
  font-weight: 400;
  font-size: 18px;
}

.upper-elipse {
  position: absolute;
  top: 236px;
  right: 1030px;
  z-index: -1;
}

.elipse__middle-section {
  background-color: #ffffff;
}

.lower-elipse {
  position: absolute;
  top: -71px;
  right: -68px;
  z-index: -1;
}

.middle-section__lower {
  display: flex;
  justify-content: center;
  position: relative;
  /* min-width: 1140px; */
  background-color: #f0f0f0;
  /* margin: 0 auto; */
  /* width: 1440px; */
  height: 640px;
  max-width: 1440px;
}

.left-wrapper-information {
  display: flex;
  align-items: center;
  width: 542px;
  padding-left: 145px;
  position: relative;

}

.left-wrapper-information__title {
  width: 52px;
  z-index: 2;

}

.left-wrapper-information-hr {
  width: 65px;
  position: absolute;
  top: 342px;
  right: 1136px;
  z-index: 2;
}

.right-wrapper-information {
  display: flex;
  flex-direction: column;
  width: 479px;
}

.right-wrapper-information__title {
  padding-top: 46px;
  margin-bottom: 20px;

}

.right-wrapper-information-hr {
  width: 65px;
  position: absolute;
  top: 103px;
  right: 506px;
}



.right-wrapper-information__text {
  width: 479px;
  margin-bottom: 30px;

}

.middle-section__first-elipse {
  position: absolute;
  top: 231px;
  right: 416px;
}

.middle-section__second-elipse {
  position: absolute;
  top: -111px;
  right: -59px;
}

.footer-section {
  display: flex;
  /* justify-content: center; */
  margin: 0 auto;
  position: relative;
  background-color: #ffffff;
  max-width: 1440px;
}

.footer-section__image {
  margin-right: 97px;
}

.footer-section-information__title {
  max-width: 557px;
  padding-top: 51px;
  margin-bottom: 30px;
}

.footer-section__wrapper {

}





/* .elipse__wrapper-information {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 230px;
  background: linear-gradient(143.92deg, rgba(237, 123, 80, 0.4) 14.85%, rgba(72, 138, 234, 0.4) 53.25%, rgba(44, 44, 44, 0.4) 85.74%);
  border-radius: 150px;
  } */
  
